
html{
  /* scroll-behavior: smooth; */
   
  /* background: rgb(87,154,222)!important;*/
background: #5c9ce4 !important;
/* background-image: url(./Resources/BackGroudImg.jpg) */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body {
/*   
  background: rgb(87,154,222)!important;
  background-position: fixed; */



}
.allPageWrap{
  /* background: linear-gradient(90deg, rgba(87,154,222,1) 0%, rgba(163,117,190,1) 100%)!important;
  background-repeat: no-repeat;
*/
background-attachment: fixed;
  background-size: cover; 
  background-image: url(./Resources/BackGroudImg.jpg);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
